@import "bourbon"

$main-color: #f39f18
$headers-color: #2c3949

body
	font-size: 15px
	min-width: 320px
	position: relative
	line-height: 1.375
	font-family: "RalewayRegular", sans-serif
	overflow-x: hidden
	color: #333333

.hidden
	display: none

a, a:hover, a:focus, a:active
	color: $main-color
	text-decoration: underline
	outline: none

.headers
	font-family: "PFCentroSlabProMedium", $helvetica
	text-transform: uppercase
	font-weight: normal
	color: $headers-color

h1, h2, h3, h4, h5, h6
	@extend .headers
	line-height: 1.375

h1
	font-size: 3em

h2
	font-size: 2.5em

h3
	font-size: 1.5em

b, strong
	font-family: "RalewayBold", $helvetica
	font-weight: 
	
.before
	content: ""
	width: 100%
	height: 100%
	position: absolute
	left: 0
	top: 0

.ulmnu
	list-style-type: none
	padding: 0
	margin: 0
	li
		display: inline-block

.main-head
	min-height: 620px
	background-size: cover
	background-position: center
	position: relative
	&::before
		@extend .before
		background-color: #394b5f
		opacity: .85

	h1
		text-transform: none
		line-height: 1.125

.top-line
	min-height: 160px
	padding-top: 45px
	background-image: url(../img/top_gradient.png)
	background-repeat: repeat-x

.logo
	opacity: .95
	img
		width: 100px

.main-mnu
	font-size: .9375em
	li
		line-height: 48px
		padding: 0 10px
		&.active
			a
				color: $main-color
				text-decoration: underline
		a:hover
				color: $main-color
				text-decoration: underline
	ul
		@extend .ulmnu
	a
		text-decoration: none
		color:#fff

.phone-wrap
	position: relative
	.phone
		opacity: .9
		color: #ffffff
		font-family: "RobotoBold", $helvetica
		font-size: 1.25em
		line-height: 48px
		text-align: right
		white-space: nowrap
	.toggle-mnu
		float: right
		position: absolute
		right: 0
		top: 0
		text-align: center
		line-height: 48px

.toggle-mnu
	display: block
	width: 28px
	height: 28px
	margin-top: 14px

.toggle-mnu span:after,
.toggle-mnu span:before
	content: ''
	position: absolute
	left: 0
	top: 9px

.toggle-mnu span:after
	top: 18px

.toggle-mnu span
	position: relative
	display: block

.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before
	width: 100%
	height: 2px
	background-color: #ffffff
	transition: all .3s
	backface-visibility: hidden
	border-radius: 2px

.toggle-mnu.on span
	background-color: transparent

.toggle-mnu.on span:before
	transform: rotate(45deg) translate(-1px, 0px)

.toggle-mnu.on span:after
	transform: rotate(-45deg) translate(6px, -7px)

.toggle-mnu.on + #menu
	opacity: 1
	visibility: visible